@import "tailwindcss";
@plugin "tailwindcss-react-aria-components";

@theme {
  --color-c-grey: #212529;
  --color-c-purple: #8338EC;
}

@font-face {
  font-family: "FiraGO";
  src: url("./fonts/FiraGO-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "FiraGO";
  src: url("./fonts/FiraGO-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "FiraGO";
  src: url("./fonts/FiraGO-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "FiraGO";
  src: url("./fonts/FiraGO-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

body {
  width: 1980px;
  height: 1080px;
  font-family: 'FiraGo', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
